.div1{
    background:rgb(60, 60, 60);
    width: 80%;
    height: 40%;
}

.div2{
    background:rgb(60, 60, 60);
    width: 80%;
    height: 40%;
}

.wrapc2{
    width:90% ;
    margin-left: 9.5%;
    display: flex;
    
}

.allWr1{
    width: 60%;
}

.allWr2{
    width: 60%;
    margin-left: 0.5%;
}