button{
    border: 0ch;
    color: rgb(204, 78, 33);
    background: rgb(255, 255, 255);
}



.wrap{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 30%;
    height: 10%;
    text-align: left;


}

p{
    font-size: small;
    

}

h1{
    font-size: medium;
   
}

.RM{
    padding-left: 78%;
    
}